# Data files


# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# DVC
.dvc/
.dvcignore

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# prometheus/LICENSE
prometheus/LICENSE
prometheus/data
prometheus/prometheus.exe
prometheus/promtool.exe

# Prometheus TSDB
data/
prom_data/

# MLflow artifacts
mlruns/
mlflow.db

# CI artifacts
prom-snapshot.tgz